<h2 class="text-center">Les documents</h2>
<div>
  <div
    class="list-group list-group-flush"
    *ngFor="let item of retrievedDocuments | async"
  >
    <div class="list-group-item list-group-item-action">
      <div class="h4 text-info text-center" *ngIf="item.owner; else noOwner">
        {{ item.documentType.name }} de {{ item.owner.email }}
      </div>
      <ng-template #noOwner>
        <div class="h4 text-info text-center">{{ item.documentType.name }}</div>
      </ng-template>
      <ul class="list-group">
        <li class="list-group-item" *ngIf="item.issuer">Emis par {{ item.issuer.email }}</li>
        <li class="list-group-item" *ngIf="item.issuanceDate">Le {{ item.issuanceDate | date : "short" }}</li>
        <li class="list-group-item" *ngIf="item.duration">Valable {{ item.duration }} jours</li>
        <li class="list-group-item" *ngIf="item.month">Mois : {{ item.month }}</li>
        <li class="list-group-item" *ngIf="item.year">Année : {{ item.year }}</li>
        <li class="list-group-item" *ngIf="item.title">Titre : {{ item.title }}</li>
        <li class="list-group-item" >(Fichier à ajouter ici)</li>

      </ul>
    </div>
  </div>
</div>
