<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" routerLinkActive="active">
    <a routerLink="documents"><i class="fas fa-mouse-pointer"></i> Click'n Doc</a>
  </div>

  <div ngbDropdown  class="dropdown show nav navbar-nav" >
    <a
      class="btn btn-primary dropdown-toggle"
      ngbDropdownToggle
    >
      Documents
    </a>

    <div ngbDropdownMenu  class="dropdown-menu">
      <a
        class="dropdown-item"
        [routerLink]="['documents']"
        routerLinkActive="active"
        ngbDropdownItem
        >Voir les documents</a
      >
      <a
        class="dropdown-item"
        [routerLink]="['document-types']"
        routerLinkActive="active"
        ngbDropdownItem
        >Voir les types de documents</a
      >
    </div>
  </div>

  <div ngbDropdown  class="dropdown show nav navbar-nav ml-auto" >
    <a
      class="btn btn-secondary dropdown-toggle"
      ngbDropdownToggle
    >
      Authentification
    </a>

    <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-right">
      <a
        class="dropdown-item"
        [routerLink]="['auth/login']"
        routerLinkActive="active"
        ngbDropdownItem
        >Connexion</a
      >
      <a
        class="dropdown-item"
        [routerLink]="['auth/signup']"
        routerLinkActive="active"
        ngbDropdownItem
        >Inscription</a
      >
    </div>
  </div>
</nav>
