<div class="row">
  <div class="col-md-6 offset-md-3 ">
<h2>Connexion</h2>
<form [formGroup]="loginForm" (ngSubmit) ="login()" >
  
  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" required />
  </div>
  <ng-container
    *ngIf="loginForm.get('email')?.errors as errors"
  >
    <div class="text-danger" *ngIf="errors.required">Email is required</div>
  </ng-container>

  <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" class="form-control"  />  
  </div>
  <ng-container
    *ngIf="loginForm.get('password')?.errors as errors"
  >
  <div  class="text-danger" *ngIf="password.errors.required">Password is required</div>
  </ng-container>    
  <div class="form-group">
      <button class="btn btn-primary">
          Login 
      </button>
      <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
</div>
</div>